{% assign navurl = page.permalink %}

<ul class="side-nav">
  {% for item in include.map %}

    {% assign current = nil %}
    {% if page.permalink contains item.href %}
        {% assign current = 'active' %}
    {% endif %}
    <li class="{{ current }}">
        <a href="{{ item.href | relative_url }}">{{ item.title }}</a>

          {% if item.sub and navurl contains item.href %}
              {% include navigation.html map=item.sub %}
          {% endif %}

    </li>

  {% endfor %}
</ul>
